{% extends 'reckon_base.html' %}

{% block title %}View Reckons{% endblock %}

{% block header %}
<h2>Reckon Board</h2>
{% endblock %}

{% block content %}

    {% with flash_messages = get_flashed_messages() %}

        {% if flash_messages %}
            {% for message in get_flashed_messages() %}
                {% if message["message"] %}
                    <div class="alert alert-{{ message["style"] }}" role="alert">
                        {{ message["message"] }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <b>Question: {{reckon.question}}</b>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                {% for option in reckon.options %}
                    {% if settle %}
                        <th scope="col" {{'class=table-success' if option.id == settle.reckon_option_id }} >
                            {{option.option}}
                        </th>
                    {% else %}
                        <th scope="col" >
                            {{option.option}}
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for response in responses %}
                <tr>
                    <td>{{response.reckon_responses.name}}</td>
                {% for answer in response.response_answers %}
                    {% if settle %}
                        <td {{'class=table-success' if answer.reckon_option_id == settle.reckon_option_id }}>{{answer.probability}}</td>
                    {% else %}
                        <td>{{answer.probability}}</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>   

{% endblock %}