{% extends 'reckon_base.html' %}

{% block header %}
<h2>{% block title %}Edit Reckon{% endblock %}</h2>
{% endblock %}

{% block content %}

    
    {% with flash_messages = get_flashed_messages() %}

        {% if flash_messages %}
            {% for message in get_flashed_messages() %}
                {% if message["message"] %}
                    <div class="alert alert-{{ message["style"] }}" role="alert">
                        {{ message["message"] }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="post">

        <div class="mb-3">
            <label for="question" class="form-label">Question</label>
            <input type="text" class="form-control" id="question" name="question" aria-describedby="questionHelp"  value="{{ request.form["question"] or reckon.question }}" required {{"disabled" if locked is true }}>
            <div id="questionHelp" class="form-text">Be as specific as possible. Questions should include an end-date.</div>
        </div>
        <div class="mb-3">
            <label for="options" class="form-label">Options</label>
            <textarea class="form-control" id="options" name="options" required {{"disabled" if locked is true }}>{{ request.form["options"] or reckon.options}}</textarea>
            <div id="optionsHelp" class="form-text">Enter the options to the question, one per line.</div>
        </div>
        <div class="mb-3">
            <label for="enddate" class="form-label">End Date</label>
            <input type="text" class="form-control" id="enddate" name="enddate" required value="{{ request.form["enddate"] or reckon.end_date}}">
            <div id="enddateHelp" class="form-text">Enter the end date and time, in the form YYYY-MM-DDTHH:MM (i.e. ISO format). Times are in UTC.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}