{% extends 'reckon_base.html' %}

{% block title %}View Reckons{% endblock %}

{% block header %}
<h2>Reckon Directory</h2>
{% endblock %}

{% block content %}

    {% with flash_messages = get_flashed_messages() %}

        {% if flash_messages %}
            {% for message in get_flashed_messages() %}
                {% if message["message"] %}
                    <div class="alert alert-{{ message["style"] }}" role="alert">
                        {{ message["message"] }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% include 'reckons/nav.html' %}


    <div class="row py-3">
    <div class="col-12">

    {% if show_active %} 
        {% if reckons %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            Question
                        </th>
                        <th scope="col">
                            Posed By
                        </th>
                        <th scope="col">
                            Ends
                        </th>
                        <th scope="col">
                            Edit
                        </th>
                        <th scope="col">
                            Answer
                        </th>
                        <th scope="col">
                            Reckons
                        </th>
                        <th scope="col">
                            Settle
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for reckon in reckons %}
                    {% if reckon.ended == false %}
                    <tr>
                        <td>
                            {{ reckon.question }}
                        </td>
                        <td>
                            {{ reckon.user.name }}
                        </td>
                        <td>
                            {{ reckon.end_date }}
                        </td>
                        <td>
                            {% if current_user.id == reckon.creator_id %}
                                <a href="{{ url_for('reckons.edit', id=reckon.id)}}"> Edit </a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('reckons.answer', id=reckon.id) }}"> Answer </a>
                        </td>
                        <td>
                            <a href="{{ url_for('reckons.board', id=reckon.id) }}"> Board </a>
                        </td>
                        <td>
                            {% if reckon.creator_id == current_user.id %}
                                <a href="{{ url_for('reckons.settle', id=reckon.id)}}">
                                    Settle
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            No reckons exist yet. <a href="{{ url_for('reckons.create') }}">
                Create one?
                </a>
        {% endif %}
                
            </div>
        </div>
    {% else %}

        <div class="row py-2">
            <div class="col-12">
            {% if reckons %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">
                                Question
                            </th>
                            <th scope="col">
                                Posed By
                            </th>
                            <th scope="col">
                                Ends
                            </th>
                            <th scope="col">
                                Final Board
                            </th>
                            <th scope="col">
                                Settle
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for reckon in reckons %}
                        {% if reckon.ended == true %}
                        <tr>
                            <td>
                                {{ reckon.question }}
                            </td>
                            <td>
                                {{ reckon.user.name }}
                            </td>
                            <td>
                                {{ reckon.end_date }}
                            </td>
                            <td>
                                <a href="{{ url_for('reckons.board', id=reckon.id)}}">
                                    Board
                                </a>
                            </td>
                            <td>
                                {% if reckon.creator_id == current_user.id %}
                                    <a href="{{ url_for('reckons.settle', id=reckon.id)}}">
                                        Settle
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                No reckons have ended yet.
            {% endif %}
        </div>
        </div>
        {% endif %}
{% endblock %}