{% extends 'auth_base.html' %}

{% block title %}
    Account Page
{% endblock %}

{% block header %}
<h2>Hello {{ current_user.name }}</h2>
{% endblock %}

{% block content %}
    <div class="row py-3">
        <div class="col-12">
            There isn't much here right now!
            <br />
            Things to do:
            
            <ul>
                <li>
                    <a href="{{url_for('auth.change_password')}}">
                        Change password?
                    </a>
                </li>
                <li>
                    <a href="{{url_for('reckons.view')}}">
                        Take me to the reckons! 
                    </a>
                </li>
            </ul>


        </div>
    </div>
{% endblock %}