{% extends 'auth_base.html' %}

{% block header %}
<h2>{% block title %}Change Password{% endblock %}</h2>
{% endblock %}

{% block content %}

    {% with flash_messages = get_flashed_messages() %}

        {% if flash_messages %}
            {% for message in get_flashed_messages() %}
                {% if message["message"] %}
                    <div class="alert alert-{{ message["style"] }}" role="alert">
                        {{ message["message"] }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="post">

        <div class="mb-3">
            <label for="passwordOld" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="passwordOld" name="passwordOld" required>
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">New Password</label>
            <input type="password" class="form-control" id="password1" name="password1" required>
            <div id="passwordHelp" class="form-text">Passwords must be over 8 characters.</div>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Re-enter New Password</label>
            <input type="password" class="form-control" id="password2" name="password2" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}